force-app/main/default/flows/AlignAccount_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AlignAccount</name>
        <label>AlignAccount</label>
        <locationX>1029</locationX>
        <locationY>42</locationY>
        <actionName>AccountTerritoryNameBuilder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Alignment_result</targetReference>
        </connector>
        <inputParameters>
            <name>AccID2Align</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Operation</name>
            <value>
                <stringValue>AlignAcc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TNS</name>
            <value>
                <elementReference>FoundTerrAloc.Territory_Name__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AlignedTerr</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>find Territory Alocator</description>
        <name>FindTerritoryAloc</name>
        <label>FindTerritoryAlocator</label>
        <locationX>804</locationX>
        <locationY>387</locationY>
        <actionName>AccountTerritoryNameBuilder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_TerritoryName</targetReference>
        </connector>
        <inputParameters>
            <name>AccID2Align</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Operation</name>
            <value>
                <stringValue>FindTerrName</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FoundTerrAloc</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <constants>
        <name>AttemptDone</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <description>constant for Rqdio button yes option</description>
        <name>const4YES</name>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </constants>
    <constants>
        <name>const4YES_1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Alignment_result</name>
        <label>Alignment result</label>
        <locationX>857</locationX>
        <locationY>44</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alignment_Success</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AlignedTerr.Territory_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FoundTerrAloc.Territory_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AlignedTerr.Territory_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sucesfully_aligned</targetReference>
            </connector>
            <label>Alignment Success</label>
        </rules>
        <rules>
            <name>AlignmentFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlignedTerr.Territory_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FoundTerrAloc.Territory_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_Alignment</targetReference>
            </connector>
            <label>Alignment Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_or_Not</name>
        <label>Continue or Not</label>
        <locationX>796</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContinueAlignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoContinue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindTerritoryAloc</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
        <rules>
            <name>Skip_alignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoContinue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alignment_Cancelled</targetReference>
            </connector>
            <label>Cancel alignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Alignment</name>
        <label>Decide Alignment</label>
        <locationX>1349</locationX>
        <locationY>39</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TryAlign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoAlign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlignAccount</targetReference>
            </connector>
            <label>TryAlign</label>
        </rules>
        <rules>
            <name>Donot_Alignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoAlign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alignment_Cancelled</targetReference>
            </connector>
            <label>Dont Align</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_TerritoryName</name>
        <label>Has TerritoryName</label>
        <locationX>1004</locationX>
        <locationY>286</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TerrFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundTerrAloc.Territory_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundTerrAloc.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Exception</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Found_TerrName</targetReference>
            </connector>
            <label>TerrFound</label>
        </rules>
        <rules>
            <name>TerrNOTFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundTerrAloc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Territory_found</targetReference>
            </connector>
            <label>TerrNOTFound</label>
        </rules>
        <rules>
            <name>Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundTerrAloc.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exception</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exception_on_FoundterrName</targetReference>
            </connector>
            <label>Exception</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if  the Accoutn is already aligned</description>
        <name>isAligned</name>
        <label>isAligned</label>
        <locationX>370</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ALREADY_ALIGNED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_OTA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasTerrScreen</targetReference>
            </connector>
            <label>ALREADY_ALIGNED</label>
        </rules>
        <rules>
            <name>TRY_ALIGNMENT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_OTA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindTerritoryAloc</targetReference>
            </connector>
            <label>TRY_ALIGNMENT</label>
        </rules>
    </decisions>
    <description>Fins Suggested Territory  Name and align depending on user input (with Exception)  (with OppSync v.2.1)</description>
    <interviewLabel>AlignAccount_Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AlignAccount_Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Return the ObjectTerritory2Associations for the Current Account</description>
        <name>GetCurrentAlignment</name>
        <label>GetCurrentAlignment</label>
        <locationX>50</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isAligned</targetReference>
        </connector>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ObjectTerritory2Association</object>
        <outputReference>Current_OTA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <queriedFields>AssociationCause</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Alignment_Cancelled</name>
        <label>Alignment Cancelled</label>
        <locationX>1516</locationX>
        <locationY>658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlignmentCancelled</name>
            <fieldText>Alignment Process Cancelled</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display some error</description>
        <name>Exception_on_FoundterrName</name>
        <label>Exception on FoundterrName</label>
        <locationX>1005</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMmsg</name>
            <fieldText>&lt;p&gt;{!FoundTerrAloc.Territory_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failed_Alignment</name>
        <label>Failed Alignment</label>
        <locationX>399</locationX>
        <locationY>45</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Failed</name>
            <fieldText>Alignment failed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>displayed when Account is already aligned</description>
        <name>HasTerrScreen</name>
        <label>AlreadyAligned</label>
        <locationX>379</locationX>
        <locationY>645</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_or_Not</targetReference>
        </connector>
        <fields>
            <name>alreadyAligned</name>
            <fieldText>The Account is already aligned</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DoContinue</name>
            <dataType>Boolean</dataType>
            <fieldText>Continue Alignment Process?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Territory_found</name>
        <label>No Territory found</label>
        <locationX>1348</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>display suggested territory</description>
        <name>Show_Found_TerrName</name>
        <label>Suggested Territory Name</label>
        <locationX>1187</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decide_Alignment</targetReference>
        </connector>
        <fields>
            <name>TNS</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FoundTerrAloc.Territory_Name__c</elementReference>
            </defaultValue>
            <fieldText>Territory Name Suggested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Team</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FoundTerrAloc.TerritoryTeam__c</elementReference>
            </defaultValue>
            <fieldText>Team</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Market</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FoundTerrAloc.Territory_Market__c</elementReference>
            </defaultValue>
            <fieldText>Market</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DoAlign</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to align Account to above territory?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucesfully_aligned</name>
        <label>Sucesfully aligned</label>
        <locationX>572</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SUCCESS</name>
            <fieldText>Account successfully Aligned</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCurrentAlignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>store the GEO of the Account. Palnned to pass it to Flow  form current record (somehow)</description>
        <name>AccGeo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AlignedTerr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TerritoryAllocator__c</objectType>
    </variables>
    <variables>
        <name>attempt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Continue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContinueAlign</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>current Territories for the account</description>
        <name>Current_OTA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ObjectTerritory2Association</objectType>
    </variables>
    <variables>
        <name>DoAlignResponse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Found Aloctor</description>
        <name>FoundTerrAloc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TerritoryAllocator__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
